/* Your CSS goes here */
#main {
  padding: 1rem;
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}

#close img {
  width: 100%;
}

@media (min-width: 801px) {
  #close {
    top: 104px;
  }
}

dl {
  text-align: left;
  margin: 0;
}
dt,
dd {
  display: inline;
  margin: 0;
  padding: 0;
}
dt:after {
  content: ": ";
}

.warning {
  color: #f0ad4e;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
}
.col {
  flex: 0 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.col-shrink {
  flex-shrink: 1;
}
.col-grow {
  flex-grow: 1;
}

.p-0 {
  padding: 0;
}
.p-l-0 {
  padding-left: 0;
}
.p-r-0 {
  padding-right: 0;
}
.m-0 {
  margin: 0;
}
.m-l-0 {
  margin-left: 0;
}
.m-r-0 {
  margin-right: 0;
}

.m-t {
  margin-top: 1rem;
}
.m-b {
  margin-bottom: 1rem;
}
.p-t {
  padding-top: 1rem;
}
.p-b {
  padding-bottom: 1rem;
}

input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

#elRadioIptFrequency {
  width: 6rem;
}